# Ignore configuration files
wp-config.php

# Ignore all plugins except custom ones
wp-content/plugins/*
!wp-content/plugins/create-menu/   
!wp-content/plugins/custom-contact-form/
!wp-content/plugins/synergy-newsletter/ 

# Ignore uploads
wp-content/uploads/
wp-content/litespeed/

# Cache, logs and temp files
*.log
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db

wp-content/litespeed/
